@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --tertiary-font: 'Karla', sans-serif;
    --primary-color: rgb(5, 5, 5);
    --secondary-color: rgb(228, 228, 228);
    --secondary-color-hover: rgb(243, 243, 243);
    --tertiary-color: rgb(192, 84, 38);
    --margin-top: 45px;
    --margin-sides: 128px;
    --border-radius: 50px;
}

/* LOADER */

.preloader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1.9s linear forwards;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 100;
    pointer-events: none;
    top: 0;
    left: 0;
}

.preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logo-loader {
    position: fixed;
    z-index: -3;
    pointer-events: none;
    animation: fadeInLoader 1.35s linear;
}

/* TÍTULO + SUBTÍTULO */

.title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: var(--secondary-color);
}

.subtitle {
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--secondary-color);
}

.title-container {
    width: 15%;
    margin-top: var(--margin-top);
    margin-left: var(--margin-sides);
}

/* SCROLL BAR */

::-webkit-scrollbar-track {
    background-color: rgb(94, 94, 94);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: var(--border-radius);
}

/* HERO SECTION */

/* BACKGROUND */
#hero-wrapper {
    min-height: 100vh;
    background-color: var(--primary-color);
    background: url("../images/FotoHero.png") center / cover no-repeat;
    position: relative;
}

header,
#home {
    position: relative;
    z-index: 1;
}

/* HEADER + NAVBAR */

header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 105px;
    margin-top: var(--margin-top);
}

.navbar {
    margin-top: var(--margin-top);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Dimensões */
    width: fit-content;
    min-width: 438px;
    height: 59px;
    /* Efeito Liquid/Glass */
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.062) 0%, transparent 50%, rgba(102, 102, 102, 0.158) 100%),
        rgba(29, 29, 29, 0.144);
    background-blend-mode: plus-lighter, plus-lighter, color-burn, plus-lighter;
    /* Sombras internas para efeito 3D */
    box-shadow: inset 16px 16px 9px -20px #FFFFFF, inset -12px -12px 6px -14px #B3B3B3;
    border-radius: 32px;
    /* Backdrop blur */
    backdrop-filter: blur(10px);
    /* Sombra externa */
    filter: drop-shadow(0px 32px 40px rgba(0, 0, 0, 0.1));
}

.navbar::before {
    content: '';
    position: absolute;
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    background: rgba(255, 255, 255, 0.01);
    mix-blend-mode: normal;
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: -1;
}

.navbar>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

/* ÂNCORAS */
li>a {
    text-decoration: none;
    color: rgba(228, 228, 228, 0.89);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    transition: all 0.3s ease-in;
}

li>a:hover {
    color: var(--secondary-color-hover);
}

/* BOTAO ENTRE EM CONTATO */
.arrow-btn {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: var(--secondary-color);
    filter: drop-shadow(0px 4px 8px rgba(192, 84, 38, 0.3));
    border-radius: var(--border-radius);
    gap: 10px;
    padding: 12px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 0.3s ease-in;
    margin-top: var(--margin-top);
    margin-right: var(--margin-sides);
}

.arrow-btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* SETA */
.arrow-icon {
    transform: rotate(-45deg);
}

/* MENU HAMBURGUER */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    z-index: 1;
}

.hamburger span {
    display: block;
    width: 26px;
    height: 3px;
    background: #e4e4e4;
    margin: 5px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
    z-index: 99;
}

/* HOME SECTION */

#home {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 0;
}

/* TÍTULO E SUBTÍTULO */

.home-content {
    max-width: 506px;
    margin-left: var(--margin-sides);
}

.home-content h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
}

.home-content p {
    font-family: var(--tertiary-font);
    color: rgba(228, 228, 228, 0.733);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
}


/* BOTÕES */

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 46px;
    margin-left: var(--margin-sides);
}

/* BOTÃO PRIMÁRIO */

.primary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    background: var(--secondary-color);
    filter: drop-shadow(0px 4px 8px rgba(192, 84, 38, 0.45));
    border-radius: var(--border-radius);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in;
    white-space: nowrap;
}

.primary-btn:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
}

/* BOTÃO OUTLINE */

.primary-btn.outline {
    color: var(--secondary-color);
    background: none;
    border: 1px solid var(--secondary-color);
}

.primary-btn.outline:hover {
    background: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
}

/* SERVICES SECTION */

#services {
    width: 100%;
    min-height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

.top-content {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-btn.services:hover {
    background: var(--tertiary-color);
}

.services-card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px 33px;
    background: none;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    gap: 12px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.services-card:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: rotateZ(1deg) rotateY(10deg) scale(1.1);
    cursor: pointer;
}

.services-card:hover h1,
.services-card:hover p,
.services-card:hover span {
    color: var(--primary-color);
}

.services-card svg {
    width: 98px;
    height: 98px;
    display: flex;
}

.services-card h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--secondary-color);
    padding-top: 20px;
    transform: all 0.3s ease-in;
}

.services-card p {
    font-family: var(--tertiary-font);
    max-width: 199px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(228, 228, 228, 0.692);
    text-align: center;
    transform: all 0.3s ease-in;
}

.services-card span {
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--secondary-color);
    margin-top: 20px;
    transform: all 0.3s ease-in;
}

.svgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair-clipper {
    transform: rotate(-45deg);
    margin-left: -10px;
}

.razor {
    transform: translate(0%, 15%) rotate(45deg);
    margin-right: -10px;
}

/* ABOUT SECTION */

#about {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 100vh;
    background-color: var(--primary-color);
    background: url("../images/FotoSobre.png") center / cover no-repeat;
    filter: brightness(110%);
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.75) 55%,
            rgba(0, 0, 0, 0.45) 65%,
            rgba(0, 0, 0, 0.15) 85%,
            rgba(0, 0, 0, 0) 100%);

    filter: blur(2px);
    pointer-events: none;
    z-index: 1;
}

.about-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 128px;
}

.title-container.about {
    width: 100%;
    margin-bottom: 160px;
}

.title.about {
    text-align: right;
}

.subtitle.about {
    text-align: right;
}

.about-text {
    max-width: 24vw;
    margin-bottom: 217px;
}

.about-text p {
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(228, 228, 228, 0.692);
    text-align: right;
}

.about-stats {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.stats h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: right;
    color: var(--secondary-color);
}

.stats p {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--secondary-color);
}

/* GALERIA */

#galery {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title-container.galery {
    margin-bottom: 106px;
}

.parent {
    display: grid;
    grid-template-rows: 1fr repeat(3, minmax(1px, auto)) 1fr;
    gap: 30px;
    color: var(--secondary-color);
    margin-left: var(--margin-sides);
    margin-bottom: 53px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.parent div {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 64px 26px rgba(121, 121, 121, 0.01), 0px 36px 22px rgba(126, 126, 126, 0.01), 0px 16px 16px rgba(217, 217, 217, 0.09), 0px 4px 9px rgba(150, 150, 150, 0.041);
    max-width: 268px;
    max-height: 345px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.parent div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.parent div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.parent div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    font-size: 32px;
    color: #000;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease;
}

.parent div:hover::before {
    opacity: 0.6;
}

.parent div:hover {
    transform: scale(1.02);
}

.parent div:hover i {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.div6 {
    grid-area: 5 / 2 / 6 / 3;
}

.div7 {
    grid-area: 5 / 3 / 6 / 4;
}

.div8 {
    grid-area: 5 / 4 / 6 / 5;
}

.div9 {
    grid-area: 5 / 4 / 6 / 5;
}

/* REVIEWS SECTION */

#review {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    min-height: 81vh;
    display: flex;
    flex-direction: column;
    gap: 61px;
    background-color: var(--primary-color);
}

.top-content.review {
    margin-bottom: 0px;
}

.review-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 56px;
    box-sizing: border-box;
}

.review-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    max-height: 280px;
    background: none;
    padding: 33px 48px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.review-cards::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #7c7c7c, #6d6d6d, #a6a6a6, #e4e4e4);
    mask: none;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.review-cards-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.review-cards-infos h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--tertiary-color);
}

.review-cards-infos a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(228, 228, 228, 0.733);
    transition: all 0.3s ease;
}

.review-cards-infos a:hover {
    color: white;
}

.review-cards p {
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
    margin-top: 18px;
    margin-bottom: 14px;
}

/* CONTACT SECTION */

#contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    background: url("../images/FotoContato.png") center / cover no-repeat;
}

/* TITLE */

.top-content.contact {
    margin-top: var(--margin-top);
    margin-bottom: 123px;
}

.title.contact {
    width: 36%;
    margin-left: var(--margin-sides);
}

.top-content.contact img {
    margin-right: var(--margin-sides);
}

/* CONTENT */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27%;
    margin-bottom: 144px;
}

/* CARD WITH INFORMATIONS */

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: plus-lighter, plus-lighter, color-burn, plus-lighter;
    box-shadow: inset 16px 16px 9px -20px #FFFFFF, inset -12px -12px 6px -14px #B3B3B3;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    filter: drop-shadow(0px 32px 40px rgba(0, 0, 0, 0.1));
    background: none;
    padding: 49px 49px;
    color: var(--secondary-color);
}

.contact-card h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 15px;
}

/* TAGS - WORK DAYS */

.work-days {
    height: 21%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.work-days-stats {
    display: flex;
    justify-content: space-between;
}

.work-days-stats span {
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.contact-card a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.primary-btn.contact {
    color: var(--primary-color);
    font-size: 14px;
    margin-top: var(--margin-top);
    filter: drop-shadow(0px 4px 8px rgba(192, 84, 38, 0.25));
    transition: all 0.3s ease;
}

.primary-btn.contact:hover {
    color: var(--secondary-color);
}

/* DIVISOR */

.contact-divisor {
    display: flex;
    align-self: center;
}

/* FOOTER */

.footer {
    margin-top: 28px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer p {
    width: 18%;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--secondary-color);
    margin-left: 35px;
}

/* MY TAG */

.footer p>a {
    color: var(--tertiary-color);
    font-weight: 600;
}

/* ICONS FOOTER */

.footer-icons {
    display: flex;
    gap: 8px;
    margin-right: 25px;
}

.footer-icons i {
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 25px;
    transition: all 0.3s ease;
}

.footer-icons i:hover {
    color: var(--tertiary-color);
    transform: scale(0.98);
}

/* KEY FRAMES */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLoader {
    0% {
        opacity: 0;
        scale: 0.1;
    }

    25% {
        opacity: 0.2;
        scale: 0.2;
    }

    50% {
        opacity: 0.4;
        scale: 0.4;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* MEDIA QUERIES */

@media (max-width: 1440px){

.title-container {
    width: 20%;
}

.services-card {
    padding: 39px 23px;
    gap: 8px;
}

.services-card svg {
    width: 78px;
    height: 78px;
}

.services-card h1 {
    font-size: 16px;
    line-height: 16px;
}

.services-card p {
    font-size: 10px;
    line-height: 10px;
}

.services-card span {
    font-size: 14px;
    line-height: 17px;
}

/* ABOUT SECTION */

.title-container.about {
    margin-bottom: 120px;
}

.about-text {
    max-width: 35vw;
    margin-bottom: 120px;
}

/* GALERIA */

.parent {
    grid-template-rows: 1fr repeat(3, minmax(1px, auto)) 1fr;
    gap: 15px;
}
.div4 {
    display: none;
}

.div8 {
    display: none;
}

/* REVIEWS SECTION */
.review-cards-container {
    justify-content: space-evenly;
}

.review-cards.hidden {
    display: none;
}

/* CONTACT SECTION */

.title.contact {
    font-size: 50px;
    line-height: 60px;
    width: 46%;
    margin-left: 80px;
}

.top-content.contact img {
    margin-right: 80px;
}

/* CONTENT */

.contact-container {
    gap: 5%;
    margin-bottom: 100px;
}

/* CARD WITH INFORMATIONS */

.contact-card {
    padding: 39px 19px;
}

.internal-divisor {
    transform: scale(0.8);
}

/* DIVISOR */

.contact-divisor {
    display: flex;
    align-self: center;
    transform: scale(0.65);
}
}

@media (max-width: 1124px) {

    /* MENU HAMBURGUER */
    header {
        padding: 0 20px;
    }

    .home-a {
        display: none;
    }

    li>a {
        color: rgba(228, 228, 228, 0.89);
        font-family: var(--secondary-font);
        font-size: 35px;
        font-weight: 500;
        transition: all 0.3s ease-in;
    }

    li>a:hover {
        color: var(--tertiary-color);
        font-size: 40px;
    }

    .navbar {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 100%;
        height: calc(100vh - 10vh);
        background: rgba(29, 29, 29, 0.05);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition:
            opacity 0.6s ease,
            transform 0.6s ease,
            visibility 0.35s;
    }

    .navbar.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .navbar ul {
        flex-direction: column;
        gap: 100px;
    }

    .arrow-btn.home {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar.active {
        display: flex;
    }

    /* LOGO */
    .logo {
        margin-left: 25px;
    }

    /* MENU */

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

.title {
    font-size: 50px;
}

/* HOME SECTION */

#home {
    align-items: center;
}

/* TÍTULO E SUBTÍTULO */

.home-content {
    max-width: 506px;
    margin-left: 0px;
}

.home-content h1 {
    text-align: center;
}

.home-content p {
    text-align: center;
}

/* BOTÕES */
.home-buttons {
    align-items: center;
    margin-left: 0px;
}


/* BOTAO ENTRE EM CONTATO */
.arrow-btn {
    margin-right: 80px;
}

/* SERVICES SECTION */

.title-container {
    width: 35%;
    margin-left: 128px;
}

.services-card-container {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    gap: 35px;
    margin-bottom: var(--margin-top);
    transition: all 0.6s;
}

.services-card:hover {
    transform: rotateZ(0deg) rotateY(0deg) scale(1);
}


#about {
    min-height: 70vh;
    align-items: center;
    background-color: var(--primary-color);
    background: url("../images/FotoSobre2.png") center / cover no-repeat;
}

#about::before {
    background: rgba(0, 0, 0, 0.3);
}

.about-content {
    margin-right: 0px;
}


.title-container.about {
    margin-top: 90px;
}

.title.about {
    text-align: center;
}

.subtitle.about {
    text-align: center;
}

.about-text {
    max-width: 55vw;
}

.about-text p {
    text-align: center;
}

.stats {
    align-items: center;
    margin-bottom: var(--margin-top);
}

.stats h3 {
    text-align: center;
    font-size: 30px;
}

/* GALERIA */
#galery {
    align-items: center;
    justify-content: center;
}

.title-container.galery {
    margin-left: 0px;
}

.title.galery {
    text-align: center;
}

.subtitle.galery {
    text-align: center;
}

.parent {
    grid-column-gap: 70px;
    margin-left: 0px;
}

.div3 {
    display: none;
}

.div7 {
    display: none;
}

/* REVIEWS SECTION */

.top-content.review {
    margin-bottom: 0px;
}

.review-cards-container {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 600px;
}

/* CONTACT SECTION */

.top-content.contact {
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.top-content.contact img {
    display: none;
}


.title.contact {
    width: 66%;
    text-align: center;
    margin-left: 0px;
}

/* CONTENT */

.contact-container {
    min-height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 80px;
    gap: 10vh;
}

/* DIVISOR */

.contact-divisor {
    transform: scale(0.4);
}

.footer p {
    width: 30%;
}

}

@media (max-width: 768px){

}

@media (max-width: 480px){
    
}